<%- model_class = Product -%>
<div class="page-header">
  <h1>
    <%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %>
    <%= link_to t('.add'), '#', class: 'add_products_property' %>
  </h1>
</div>
<%= render :partial => 'form' %>
