<% content_for :content do %>
  <div class="container">
    <div class="row">
      <%= bootstrap_flash %>
      <%= yield %>
    </div><!--/row-->

    <%= render 'layouts/footer' %>
  </div> <!-- /container -->
<% end %>
<%= render template: "layouts/application" %>
